*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    height: 59vh;
    background-color: purple;
}

 nav{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     background-color: #fff;
     border: none;
     box-shadow: 10px 10px 10px;
     align-items: center;
     height: 9vh;
     width: 70%;
     margin-left: auto;
     margin-right: auto;
    padding: 0 2%;
 }

ul,li,a{
    list-style: none;
    text-decoration: none;
    color: black;
}


 .nav ul li{
     
     display: inline-block;
     padding: 0 15px;
    
     
     
 }

.hero-text{
   
   height: 50vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}
p{  
    color: #fff;
    margin: 1.5% 0;
}


.hero-header{
    color: #fff;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}
.hero-btn{
    
    background-color: rgb(255, 69, 0,1);
    padding: 5px 60px;
    border-radius: 5px;
    border: none;
    color: #fff;
    transition: .4s ease;
}
.hero-btn:hover{
    background-color: rgb(255, 69, 0,.7);
}

 @media (max-width:700px){
     nav{
         width: 100%;
     }
 }
